<style>
h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Add some spacing after paragraphs that follow headings */
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: 0.5rem;
}

/* Add spacing before paragraphs that precede headings */
p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
  margin-top: 2rem;
}

.react-native-dashboard img {
  width: 100%;
}

figure {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.related_article_card {
    padding-bottom: 0.5rem;
    h2 {
        padding-top: 0;
        margin-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 1rem;
    }
}
#titleContainer {
  align-items: center;
  img {
    width: auto;
    margin-right: 0;
  }
}
.titleAndHamburger h1 {
    display: none;
}
.search {
  margin: 0;
}
#links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
header {
  margin-bottom: 0;
}
.unstyledLink {
  height: 40px;
}
.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#main-nav {
  font-size: 1rem;
}
</style>
